.anomalia-crud-card {
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  
  .anomalia-crud-card-top-container {
    padding: 16px 0;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
  }
  
  .anomalia-crud-card-top-container img {
    width: 250px;
    height: 250px;
    padding: 10px;
  }
  
  .anomalia-crud-card-bottom-container {
    padding: 15px 20px 30px 20px;
  }
  
  .anomalia-crud-card-bottom-container h6 {
    font-size: 20px;
    color: #263238;
  }
  
  .anomalia-crud-anomalia-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  
  .anomalia-crud-card-buttons-container {
    margin-top: 10px;
    padding: 0 20px;
    display: flex;
  }
  
  .anomalia-crud-card-button {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.015em;
    border-radius: 10px;
    width: 110px;
    height: 40px;
  }
  
  .anomalia-crud-card-button-first {
    margin-right: 10px;
  }
  
  @media (min-width: 768px) {
    .anomalia-crud-card {
      display: flex;
      justify-content: space-between;
    }
  
    .anomalia-crud-card-buttons-container {
      flex-direction: column-reverse;
      justify-content: center;
    }
  
    .anomalia-crud-card-button-first {
      margin-right: 0;
      margin-top: 20px;
    }
  
    .anomalia-crud-card-button {
      width: 150px;
    }
  
    .anomalia-crud-card-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }
  
    .anomalia-crud-card-top-container {
      border-bottom: 0;
      margin-right: 10px;
    }
    
  }
  
  @media (min-width: 992px) { 
    .anomalia-crud-card-button {
      width: 220px;
  
    }
  }
  