.edificio-crud-card {
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.edificio-crud-card-top-container {
  padding: 16px 0;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
}

.edificio-crud-card-top-container img {
  width: 250px;
  height: 250px;
  padding: 10px;
}

.edificio-crud-card-bottom-container {
  padding: 15px 20px 30px 20px;
}

.edificio-crud-card-bottom-container h6 {
  font-size: 20px;
  color: #263238;
}

.edificio-crud-anomalia-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.edificio-crud-card-buttons-container {
  margin-top: 10px;
  padding: 0 20px;
  display: flex;
}

.edificio-crud-card-button {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.015em;
  border-radius: 10px;
  width: 110px;
  height: 40px;
}

.edificio-crud-card-button-first {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .edificio-crud-card {
    display: flex;
    justify-content: space-between;
  }

  .edificio-crud-card-buttons-container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .edificio-crud-card-button-first {
    margin-right: 0;
    margin-top: 20px;
  }

  .edificio-crud-card-button {
    width: 150px;
  }

  .edificio-crud-card-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  .edificio-crud-card-top-container {
    border-bottom: 0;
    margin-right: 10px;
  }
  
}

@media (min-width: 992px) { 
  .edificio-crud-card-button {
    width: 220px;

  }
}
