.register-user-card {
  padding: 20px;
  font-size: 12px;
  margin-top: 35px;
}

.register-user-card h1 {
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.015em;
  color: #263238;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 50px;
}
