.main-nav {
  min-height: 70px;
}

.nav-logo-text {
  padding-left: 40px;
  color: #fff;
}

.nav-logo-text:hover {
  color: #fff;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 700px;
  justify-content: space-between;
}

.main-menu a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
}

.main-menu a.active {
  color: #fff;
  font-weight: 700;
}

.main-menu a:hover {
  color: #fff;
}

.nav-login-logout {
  display: none;
}

.nav-username {
  display: none;
}

@media (min-width: 768px) {
  .main-menu {
    width: 350px;
  }

  .nav-login-logout {
    display: unset;
    color: #fff;
    margin-right: 5px;
  }
}

@media (min-width: 992px) {
  .nav-login-logout {
    margin-right: 40px;
  }

  .nav-username {
    display: unset;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .main-menu {
    width: 550px;
  }

}
